body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#tittleID {
  background-color: #df3750;
}


.inputForm {
  width: 350px !important;
}

.tugasForm {
  margin-left: 400px !important;
  position: relative !important;
}

.containeur {
  width: 350px;
  height: auto;
}